@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --main-color: black;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1500px;
  margin: auto;
}

body>header>nav>a>img {
  width: 300px;
  height: 150px;
}

img {
  width: 1120px;
  height: 700px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.header-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  transition: all 0.7s;
}

.header-menu a:hover {
  /* border: 1px solid var(--main-color); */
  color: aquamarine;
}

@media (min-width: 850px) {
  header nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    flex: 1;
  }
}

 /* .carousel-item {
  /* background-image: url(../img/arminvanb.jpg); */
  /* background-size: cover; */
  /* height: 650px; */
  /* background-position: top;
  display: flex;
  align-items: center;
  justify-content: center; */
}  */

/* .button {
  border: 1px solid #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  transition: all 0.7s;
  background-color: transparent;
} */

.button:hover {
  border-color: aquamarine;
  /* color: #000000; */
  background-color: aquamarine;
  /* cursor: pointer; */
}

.footer-container {
  width: 1500px;
  height: 200px;
  background-color: rgb(127, 160, 165);
}

.footer-links a {
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 12px;
}
