@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --main-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1120px;
  margin: auto;
  background-color: #ffffff;
}

.outer-container {
  width: 1120px;
  /* background-color: #474545; */
}

.page-nav {
  background-color: #000000;
}

body>div>header>nav>a>img {
  width: 300px;
  height: 150px;
}

img {
  width: 1120px;
  height: 700px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.header-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 900;
  transition: all 0.7s;
}

.header-menu a:hover {
  color: aquamarine;
}

@media (min-width: 850px) {
  header nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    flex: 1;
  }

  /* SECTION BIOGRAPHY */

  #biography {
    width: 1120px;
    height: 700px;
    background-color: #000000;
  }

  #biography>div>h1 {
    font-family: "Roboto", sans-serif;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    padding-top: 90px;
  }

  #biography>div>p:nth-child(2) {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
  }

  #biography>div>p:nth-child(3) {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
  }

  #biography>div>a {
    color: #c60204;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    padding-left: 390px;
  }

  /* SECTION #2 */

  #a_state_of_trance {
    background-color: #000000;
    width: 1120px;
    height: 1200px;
  }

  /* .overlay {
  width: 1120px;
 height: 400px;
  background-color: #000000;
  opacity: 0.7; 
} */

  h2 {
    color: #ffffff;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
  }

  .radio-about {
    color: #ffffff;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
  }

  .radio-title {
    color: #c60204;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
  }

  #a_state_of_trance>div>img {
    width: 500px;
    height: 300px;
    margin: 0 0 0 305px;
  }

  #a_state_of_trance>div>p.artist-link {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
  }

  #a_state_of_trance>div>a {
    color: #c60204;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    padding-left: 400px;
  }

  /* SECTION #3 */

  #tour_dates {
    /* background-color: #000000; */
    width: 1120px;
    height: 700px;
    background-image: url(../img/this-is-me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3 {
    color: #ffffff;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    padding-top: 50px;
    text-align: center;
  }

  .card-event {
    display: inline-block;
    background-color: #000000;
    width: 200px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 280px 0 0 60px;
    /* background-image: url(../img/this-is-me-a.jpg); */
  }

  .card-title {
    color: #c60204;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
  }

  .card-event-date {
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;

  }

  #tour_dates>div>div>img {
    float: left;
    width: 60px;
    height: 30px;
    margin-left: 70px;
  }

  .card-event-place {
    float: right;
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin-top: 8px;
    margin-right: 5px;
  }

  .btn-container {
    padding: 140px 0 0 30px;

  }

  .btn-buy {
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    width: 130px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 8px;
    border: 3px solid #0f0f0f;
    border-radius: 10px;
  }

  .btn-buy:hover {
    background-color: #c60204;
    color: #ffffff;
  }



  /* SECTION#4 */

  #news {
    background-color: #000000;
  }

  #news>div>ul>li:nth-child(1)>a>span.post-image>img {
    width: 200px;
    height: 100px;
  }

  #news>div>ul>li:nth-child(2)>a>span.post-image>img {
    width: 200px;
    height: 100px;
  }

  /* SECTION#5 */

  #contact_me {
    width: 1120px;
    height: 400px;
    background-color: #000000e1;
  }

  .location {
    margin: 25px 0 0 50px;
  }

  /* 
  #map {
    width: 1120px;
    height: 400px;
  } */

  /* #contact_me>img {
    float: left;
    width: 500px;
    height: 300px;
    margin: 120px 0 0 120px;
  } */

  #contact_me>form {
    float: right;
    /* margin: 120px 150px 0 0; */
  }

  /* FOOTER!!! */

  .footer-container {
    width: 1120px;
    height: 100px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    background-color: #000000;
    bottom: 0;
    padding: 60px 0;
  }

  .general-info {
    font-size: 18px;
    color: #9e9e9e;
    line-height: 1.5;
  }

  .footer-links a {
    display: inline-block;
    text-align: left;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .footer-links a:hover {
    color: #c60204;
    text-decoration: underline;
  }